{{ template "_internal/google_analytics.html" . }}
<script src="{{ "fancybox/jquery.fancybox.pack.js" | absURL }}"></script>
<script src="{{ "js/script.js" | absURL }}"></script>
<script src="{{ "js/highlight.min.js" | absURL }}"></script>
<script src="{{ "js/site.js" | absURL }}"></script>

{{ range .Site.Params.custom_js }}
<script src="{{ . | absURL }}"></script>
{{ end }}
<script>hljs.initHighlightingOnLoad();</script>
<script>$(".article-banner").Lazy({scrollDirection:"vertical",effect:"fadeIn",visibleOnly:!0,threshold:500});</script>
<script>$(".thumbnail-image").Lazy({scrollDirection:"vertical",effect:"fadeIn",visibleOnly:!0,threshold:500});</script>
{{ if not .Site.Params.disable_mathjax }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{{ end }}
